/* Override JET style to always show a vertical scrollbar. Vertical scrollbar will be shown on demand by the browser  */
.vb-web-applayout-body {
    overflow-y: initial;
}

/* Sticky header on the top so that the rest of the page can scroll independent of the header */
.vb-web-applayout-page.fixed-header {
    /* Add an extra padding at the top to account for sticky header */
    padding-top: 6.25rem;
}

@media screen and (max-width: 599.9px) {
    /* On small screens the navigation tab list is hidden so decrease the padding */
    .vb-web-applayout-page.fixed-header {
        padding-top: 3.25rem;
    }
}
.vb-web-applayout-page.fixed-header .vb-web-applayout-header {
    position: fixed;
    width: 100%;
    top: 0;
}


/* Sticky footer at the bottom so that the rest of the page can scroll independent of the footer */
.vb-web-applayout-page.fixed-footer {
    padding-bottom: 4rem;
}

.vb-web-applayout-page.fixed-footer .vb-web-applayout-footer {
    /* Add an extra padding at the bottom to account for the sticky footer */
    position: fixed;
    width: 100%;
    bottom: 0;
}